<div id="products" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <!--<mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">-->
                <!--shopping_basket-->
                <!--</mat-icon>-->
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <ng-container *ngIf="viewPath === 'import'">
                        {{ 'PURCHASE_ORDER.TITLES.PAGE_IMPORT' | translate }}
                    </ng-container>
                    <ng-container *ngIf="viewPath === 'export'">
                        {{ 'PURCHASE_ORDER.TITLES.PAGE_EXPORT' | translate }}
                    </ng-container>
                    <ng-container *ngIf="viewPath === 'approver'">
                        {{ 'NAV.APPROVER' | translate }}
                    </ng-container>
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <ng-container *ngIf="viewPath === 'export' || viewPath === 'import' ">
                <div class="search-wrapper mx-32 mx-md-0">
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>search</mat-icon>
                        <input fxFlex="1 1 100%" [formControl]="searchInput" placeholder="{{ 'COMMON.MESSAGES.SEARCH_PLACEHOLDER' | translate }}">
                        <button mat-icon-button matTooltip="{{ 'COMMON.MESSAGES.MORE_SEARCH_TOOLTIP' | translate }}"
                            (click)="openSearchDialog()">
                            <mat-icon>add_circle_outline</mat-icon>
                        </button>
                    </div>
                </div>
            </ng-container>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <ng-container *ngIf="isImportOrderType">
                <button mat-raised-button routerLink="/warehouse/import/new" class="add-product-button fuse-white mt-24 mt-md-0">
                    <mat-icon>playlist_add</mat-icon>
                    <span>{{ 'PURCHASE_ORDER.BUTTONS.NEW_IMPORT' | translate }}</span>
                </button>
            </ng-container>

            <ng-container *ngIf="isExportOrderType && viewPath !== 'approver'">
                <button mat-raised-button routerLink="/warehouse/export/new" class="add-product-button fuse-white mt-24 mt-md-0">
                    <mat-icon>playlist_add</mat-icon>
                    <span>{{ 'PURCHASE_ORDER.BUTTONS.NEW_EXPORT' | translate }}</span>
                </button>
            </ng-container>

            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <ng-container *ngIf=" viewPath === 'approver'">
                <mat-table class="purchase-orders-table" [dataSource]="dataSource2" [@animateStagger]="{value:'50'}">

                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center">{{ 'PURCHASE_ORDER.ID' |
                            translate
                            }}</mat-header-cell>
                        <mat-cell *matCellDef="let item" fxLayoutAlign="center center">
                            <span class="text-truncate">{{item.id}}</span>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="location">
                        <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center">{{ 'PURCHASE_ORDER.LOCATION' |
                            translate }}</mat-header-cell>
                        <mat-cell *matCellDef="let item" fxLayoutAlign="center center">
                            {{item.location}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="areas">
                        <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center">{{ 'PURCHASE_ORDER.AREAS' |
                            translate }}</mat-header-cell>
                        <mat-cell *matCellDef="let item" fxLayoutAlign="center center">
                            {{item.areas}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="managerDepartment">
                        <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center">{{
                            'PURCHASE_ORDER.MANAGER_DEPARTMENT' | translate }}</mat-header-cell>
                        <mat-cell *matCellDef="let item" fxLayoutAlign="center center">
                            {{item.managerDepartment}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="subtotal">
                        <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center">{{ 'PURCHASE_ORDER.SUBTOTAL' |
                            translate }}</mat-header-cell>
                        <mat-cell *matCellDef="let item" fxLayoutAlign="center center">
                            {{item.subtotal | currency:'VND'}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center">
                            {{ 'PURCHASE_ORDER.STATUS' | translate }}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let item" fxLayoutAlign="center center">
                            <ng-container *ngIf="item.isStatusPending">
                                <mat-icon matTooltip="{{ 'PURCHASE_ORDER.STATUSES.PENDING' | translate }}" class="orange-500-fg">
                                    access_time
                                </mat-icon>
                            </ng-container>
                            <ng-container *ngIf="item.isStatusAccepted">
                                <mat-icon matTooltip="{{ 'PURCHASE_ORDER.STATUSES.ACCEPTED' | translate }}" class="green-500-fg">
                                    check_circle
                                </mat-icon>
                            </ng-container>
                            <ng-container *ngIf="item.isStatusRejected">
                                <mat-icon matTooltip="{{ 'PURCHASE_ORDER.STATUSES.REJECTED' | translate }}" class="red-500-fg">
                                    block
                                </mat-icon>
                            </ng-container>
                        </mat-cell>
                    </ng-container>



                    <mat-header-row *matHeaderRowDef="displayedColumns2; sticky:true"></mat-header-row>

                    <mat-row *matRowDef="let item; columns: displayedColumns2;" class="product" [routerLink]="'/warehouse/' + viewPath + '/detail/' + item.id"
                        matRipple>
                    </mat-row>

                </mat-table>


            </ng-container>

            <ng-container *ngIf=" viewPath !== 'approver'" >
                <mat-table class="purchase-orders-table" #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}"
                    fusePerfectScrollbar>

                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center">{{ 'PURCHASE_ORDER.ID' |
                            translate
                            }}</mat-header-cell>
                        <mat-cell *matCellDef="let item" fxLayoutAlign="center center">
                            <span class="text-truncate">{{item.id}}</span>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="location">
                        <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center">{{ 'PURCHASE_ORDER.LOCATION' |
                            translate }}</mat-header-cell>
                        <mat-cell *matCellDef="let item" fxLayoutAlign="center center">
                            {{item.location}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="areas">
                        <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center">{{ 'PURCHASE_ORDER.AREAS' |
                            translate }}</mat-header-cell>
                        <mat-cell *matCellDef="let item" fxLayoutAlign="center center">
                            {{item.areas}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="managerDepartment">
                        <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center">{{
                            'PURCHASE_ORDER.MANAGER_DEPARTMENT' | translate }}</mat-header-cell>
                        <mat-cell *matCellDef="let item" fxLayoutAlign="center center">
                            {{item.managerDepartment}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="subtotal">
                        <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center">{{ 'PURCHASE_ORDER.SUBTOTAL' |
                            translate }}</mat-header-cell>
                        <mat-cell *matCellDef="let item" fxLayoutAlign="center center">
                            {{item.subtotal | currency:'VND'}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center">
                            {{ 'PURCHASE_ORDER.STATUS' | translate }}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let item" fxLayoutAlign="center center">
                            <ng-container *ngIf="item.isStatusPending">
                                <mat-icon matTooltip="{{ 'PURCHASE_ORDER.STATUSES.PENDING' | translate }}" class="orange-500-fg">
                                    access_time
                                </mat-icon>
                            </ng-container>
                            <ng-container *ngIf="item.isStatusAccepted">
                                <mat-icon matTooltip="{{ 'PURCHASE_ORDER.STATUSES.ACCEPTED' | translate }}" class="green-500-fg">
                                    check_circle
                                </mat-icon>
                            </ng-container>
                            <ng-container *ngIf="item.isStatusRejected">
                                <mat-icon matTooltip="{{ 'PURCHASE_ORDER.STATUSES.REJECTED' | translate }}" class="red-500-fg">
                                    block
                                </mat-icon>
                            </ng-container>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="inputDate">
                        <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center">
                            {{ 'PURCHASE_ORDER.INPUT_DATE' | translate }}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let item" fxLayoutAlign="center center">
                            {{item.inputDate | date:'dd/MM/yyyy'}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="outputDate">
                        <mat-header-cell *matHeaderCellDef fxLayoutAlign="center center">
                            {{ 'PURCHASE_ORDER.OUTPUT_DATE' | translate }}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let item" fxLayoutAlign="center center">
                            {{item.outputDate | date:'dd/MM/yyyy'}}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let item" fxLayoutAlign="center center">
                            <ng-container *ngIf="item.isStatusPending">

                                <button mat-icon-button color="accent" matTooltip="{{ 'COMMON.BUTTONS.EDIT' | translate }}"
                                    (click)="$event.stopPropagation()" [routerLink]="'/warehouse/' + viewPath + '/edit/' + item.id">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button color="warn" matTooltip="{{ 'COMMON.BUTTONS.DELETE' | translate }}"
                                    (click)="$event.stopPropagation(); remove(item)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </ng-container>

                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                    <mat-row *matRowDef="let item; columns: displayedColumns;" class="product" [routerLink]="'/warehouse/' + viewPath + '/detail/' + item.id"
                        matRipple>
                    </mat-row>

                </mat-table>
<!-- 
                <mat-paginator #paginator [length]="dataSource.count" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator> -->
            </ng-container>


        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
