@import "src/@fuse/scss/fuse";

//.header {
//    > .action-buttons {
//        button {
//            margin: 0 10px;
//        }
//    }
//}


#products {

    .top-bg {

        @include media-breakpoint('lt-md') {
            height: 256px;
        }
    }

    > .center {

        > .header {

            .search-wrapper {
                width: 100%;
                max-width: 480px;
                border-radius: 28px;
                overflow: hidden;
                @include mat-elevation(1);

                @include media-breakpoint('xs') {
                    width: 100%;
                }

                .search {
                    width: 100%;
                    height: 48px;
                    line-height: 48px;
                    padding: 0 18px;

                    input {
                        width: 100%;
                        height: 48px;
                        min-height: 48px;
                        max-height: 48px;
                        padding: 0 16px;
                        border: none;
                        outline: none;
                    }
                }
                .mgl20{
                    margin-left: 50px;
                }
            }

            @include media-breakpoint('lt-md') {
                padding: 8px 0;
                height: 192px !important;
                min-height: 192px !important;
                max-height: 192px !important;
            }
        }
    }
}

.purchase-orders-table {
    flex: 1 1 auto;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    .product {
        position: relative;
        cursor: pointer;
    }

    .mat-cell {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .mat-header-row {
        min-height: 64px;
    }

    .mat-column-id {
        max-width: 120px;
        padding-right: 5px;
    }

    .mat-column-price {
        max-width: 120px;
    }

    .mat-column-quantity {
        max-width: 100px;
    }

    //.mat-column-warehousingDate,
    //.mat-column-productType{
    //    place-content: center;
    //    align-items: center;
    //}

    //
    //.product {
    //    position: relative;
    //    cursor: pointer;
    //    height: 84px;
    //}
    //
    //.mat-cell {
    //    min-width: 0;
    //    display: flex;
    //    align-items: center;
    //}
    //
    //.mat-column-id {
    //    flex: 0 1 84px;
    //}
    //
    //.mat-column-image {
    //    flex: 0 1 84px;
    //
    //    .product-image {
    //        width: 52px;
    //        height: 52px;
    //        border: 1px solid rgba(0, 0, 0, .12);
    //    }
    //}
    //
    //.mat-column-category {
    //    flex: 0 1 240px;
    //}
    //
    //.mat-column-price {
    //    flex: 0 1 160px;
    //}
    //
    //.mat-column-quantity {
    //    flex: 0 1 160px;
    //}
    //
    //.mat-column-active {
    //    flex: 0 1 80px;
    //}
    //
    //.quantity-indicator {
    //    display: inline-block;
    //    vertical-align: middle;
    //    width: 8px;
    //    height: 8px;
    //    border-radius: 4px;
    //    margin-right: 8px;
    //
    //    & + span {
    //        display: inline-block;
    //        vertical-align: middle;
    //    }
    //}
    //
    //.active-icon {
    //    border-radius: 50%;
    //}
}
