<div id="login" fxLayout="column">

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/warehouse.svg">
            </div>

            <div class="title text-uppercase">{{ 'AUTH.LOGIN.PAGE_TITLE' | translate }}</div>

            <form name="loginForm" [formGroup]="loginForm" (submit)="login()" novalidate autocomplete="off">

                <div class="message-box error mb-12" *ngIf="loginError">
                    {{ 'AUTH.LOGIN.FAILED' | translate }}
                </div>

                <div class="message-box success mb-12" *ngIf="loginSuccess">
                    {{ 'AUTH.LOGIN.SUCCEEDED' | translate }}
                </div>

                <mat-form-field appearance="outline">
                    <mat-label>{{ 'AUTH.LOGIN.USERNAME' | translate }}</mat-label>
                    <input matInput formControlName="username">
                    <mat-icon matSuffix class="secondary-text">person_outline</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>{{ 'AUTH.LOGIN.PASSWORD' | translate }}</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                </mat-form-field>

                <!--<div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="end center">
                    <a class="forgot-password" [routerLink]="'/pages/auth/forgot-password'">
                        {{ 'AUTH.LOGIN.FORGOT_PASSWORD' | translate }}
                    </a>
                </div>-->

                <button mat-raised-button type="submit" color="accent" class="submit-button"
                        [disabled]="loginForm.invalid || loading">
                    {{ 'AUTH.LOGIN.SUBMIT' | translate }}
                </button>

            </form>

        </div>

    </div>

</div>
