<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-primary m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">
                {{ 'USER.FORM_EDIT_PROFILE_TITLE' | translate }}
            </span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <app-loading-spinner></app-loading-spinner>

        <form name="changeProfileForm" [formGroup]="form" (submit)="save()" novalidate autocomplete="off">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>{{ 'USER.NAME' | translate }}</mat-label>
                    <input name="name" formControlName="name" matInput required>
                    <mat-error *ngIf="form.get('name').hasError('required')">
                        {{ 'VALIDATION.REQUIRED' | translate: { 'attribute': 'USER.NAME' | translate } }}
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>{{ 'USER.EMAIL' | translate }}</mat-label>
                    <input name="email" formControlName="email" matInput type="email" required>
                    <mat-error *ngIf="form.get('email').hasError('required')">
                        {{ 'VALIDATION.REQUIRED' | translate: { 'attribute': 'USER.EMAIL' | translate } }}
                    </mat-error>
                    <mat-error *ngIf="form.get('email').hasError('email')">
                        {{ 'VALIDATION.EMAIL' | translate: { 'attribute': 'USER.EMAIL' | translate } }}
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>{{ 'USER.PASSWORD' | translate }}</mat-label>
                    <input name="password" formControlName="password" matInput type="password">
                    <mat-hint>{{ 'USER.CHANGE_PASSWORD_HINT' | translate }}</mat-hint>
                    <mat-error *ngIf="form.get('password').hasError('minlength')">
                        {{ 'VALIDATION.MIN.STRING' | translate: { 'attribute': 'USER.PASSWORD' | translate, 'min': form.get('password').getError('minlength')?.requiredLength } }}
                    </mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>{{ 'USER.PASSWORD_CONFIRM' | translate }}</mat-label>
                    <input name="passwordConfirmation" formControlName="passwordConfirmation" matInput type="password">
                    <mat-error *ngIf="form.get('passwordConfirmation').hasError('matchPassword')">
                        {{ 'VALIDATION.CONFIRMED' | translate: { 'attribute': 'USER.PASSWORD_CONFIRM' | translate } }}
                    </mat-error>
                </mat-form-field>
            </div>

            <button type="submit" class="hidden"></button>
        </form>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button mat-flat-button
                color="primary"
                class="save-button"
                (click)="save()"
                [disabled]="form.invalid || saving || !form.dirty">
            {{ 'USER.BUTTONS.SAVE' | translate }}
        </button>

    </div>


</div>
