.table-container {
    position: relative;
}

.mat-table {
    min-height: 200px;
}

.mat-header-cell {
    justify-content: center;
}

.mat-cell {
    justify-content: center;
}

.mat-column-id {
    max-width: 80px;
}
